{{#if user}}
<link rel="stylesheet" href="themes/{{user.theme}}/css/{{user.theme}}-styles.css" type="text/css"/>
{{else}}
<link rel="stylesheet" href="themes/{{theme}}/css/{{theme}}-styles.css" type="text/css"/>
{{/if}}
</head>
<body>
<div id="page-container" class="grid-y">
<div class="site-header top-bar">
	<div class="top-bar-left">
			<h1 class="menu-text">Despensa</h1>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			{{#if user}}
			<li><a href="#">View Despensa</a></li>
			<li><a href="#">Add Food</a></li>
		  <li>
		  	<a href="/signout">Sign Out</a>
		  </li>
		  <li><input type="search" placeholder="Search"> <button type="button" class="button">Search</button></li>
		 	{{else}}
		 	<li>
		  	<form class="form form-horizontal">
				  <div id="username-group" class="field-group">
				      <label for="user">User Name</label>
				      <input type="text" id="user" name="user">
				  </div>

				  <div id="password-group" class="field-group">
				      <label for="pass">Password</label>
				      <input type="password" id="pass" name="pass">
				  </div>

				  <button type="submit" id="sign-in-btn" class="btn btn-default">Sign In</button>
			  	<button type="submit" id="sign-up-btn" class="btn btn-warn">Sign Up</button>
				</form>
		  </li>
		  {{/if}}
		</ul>
	</div>
</div>