{{#if email}}
<link rel="stylesheet" href="themes/{{Theme.dataValues.iconClass}}/css/{{Theme.dataValues.iconClass}}-styles.css" type="text/css"/>
{{else}}
<link rel="stylesheet" href="themes/{{theme}}/css/{{theme}}-styles.css" type="text/css"/>
{{/if}}
</head>
<body>
<div id="page-container" class="grid-y">
<div class="site-header top-bar">
	<div class="top-bar-left">
			<img src="images/Use-transparent.png" id="headerAva" alt="Ava Cado" style="display: inline-block; margin: 0 auto" data-open="AvaAdvice">
			<h1 class="menu-text site-title" style="display: inline-block">Despensa</h1>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			{{#if email}}
			<li>
		  	<a href="#" id="signOut">Sign Out</a>
		  </li>
		  <li>
		  	<a href="#" data-open="optionsModal"> <span data-tooltip tabindex="1" title="Account Settings"><i class="fas fa-cog" id="settings"></i></span> </a>
		  </li>
		  <li>
		  	<a href="#" data-open="menuModal"> <span data-tooltip tabindex="1" title="Manage Despensa"><i class="fas fa-bars" id="menu"></i></span> </a>
		  </li>
		  {{!-- <li><input type="search" placeholder="Search"> <button type="button" class="button">Search</button></li> --}}
		 	{{else}}
		 	<li>
		  	<form class="form form-horizontal">
				  {{!-- <div id="username-group" class="field-group">
				      <label for="user">User Name</label>
				      <input type="text" id="user" name="user" required>
				  </div> --}}
				  <div id="username-group" class="field-group">
				      <label for="email">Email</label>
				      <input type="email" id="email" name="email" required>
				  </div>
				  <div id="password-group" class="field-group">
				      <label for="pass">Password</label>
				      <input type="password" id="pass" name="pass" required>
				  </div>

				  <button type="submit" id="sign-in-btn" class="btn btn-success-100">Sign In</button>
			  	<button type="submit" id="sign-up-btn" class="btn btn-alert-100">Sign Up</button>
				</form>
		  </li>
		  {{/if}}
		</ul>
	</div>
</div>