<div id="location-menu">
	<ul class="accordion" data-responsive-accordion-tabs="accordion large-tabs">
		{{#each Locations}}
			<li class="accordion-item {{dataValues.type}} {{@first }}" data-accordion-item>
				<a href="#" class="accordion-title">{{dataValues.name}}</a>

				<div class="accordion-content" data-tab-content>
					<ul class='food-item'>
						{{#each Food}}
							<li class='food'>
								<p>{{dataValues.name}}, {{dataValues.brand}}<br>{{dataValues.expirationDate}}</p>
								<p>
									{{#isExpired dataValues.expirationDate}}
										<img src="images/Toss-transparent.png" alt="Call a biohazard unit!">
									{{/isExpired}}
									{{#isExpiringSoon dataValues.expirationDate}}
										<img src="images/Use-transparent.png" alt="Waste not and avoid grocery shopping longer.">
									{{/isExpiringSoon}}
									{{#isGood dataValues.expirationDate}}
										<img src="images/Keep-transparent.png" alt="!">
									{{/isGood}}
								</p>
							</li>
						{{/each}}
					</ul>
				</div>
			</li>
		{{/each}}
	</ul>
</div>