{{> header}}
<h1>WHERE is teh FOOD?!</h1>
{{#each locations}}
	<div class="location {{type}}">
		<div class="header">
			<h3>{{name}}</h3>
		</div>
		<div class="body">
			{{#each containers}}
				<p class="container {{type}}"><i class="icon status-{{status}}"></i> <strong>{{type}}</strong>: {{description}}</p>
			{{/each}}
		</div>
	</div>
{{/each}}